{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Paletler</h2>
        <a href="{% url 'pallet_create' %}" class="btn btn-primary mb-3">Yeni Palet Ekle</a>

        {% if pallets %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Fiyat</th>
                        <th>Toplam Maliyet</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pallet in pallets %}
                        <tr>
                            <td>{{ pallet.name }}</td>
                            <td>{{ pallet.unit_price }}₺</td>
                            <td>{{ pallet.total_price_with_vat }}₺</td>
                            <td>
                                <a href="{% url 'pallet_update' pallet.id %}" class="btn btn-warning btn-sm">Düzenle</a>
                                <a href="{% url 'pallet_delete' pallet.id %}" class="btn btn-danger btn-sm">Sil</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if is_paginated %}
                <div class="pagination">
                    <span class="step-links">
                        {% if pallets.has_previous %}
                            <a href="?page=1">&laquo; İlk</a>
                            <a href="?page={{ pallets.previous_page_number }}">Önceki</a>
                        {% endif %}

                        <span class="current">
                            Sayfa {{ pallets.number }} / {{ pallets.paginator.num_pages }}.
                        </span>

                        {% if pallets.has_next %}
                            <a href="?page={{ pallets.next_page_number }}">Sonraki</a>
                            <a href="?page={{ pallets.paginator.num_pages }}">Son &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% else %}
            <p>Henüz palet eklenmemiş.</p>
        {% endif %}
    </div>
{% endblock %}